

<ngb-carousel *ngIf="movies">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[0].poster_path}} [alt]="movies[0].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[0].title }}</h3>
      <p>{{ movies[0].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[1].poster_path}} [alt]="movies[1].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[1].title }}</h3>
      <p>{{ movies[1].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[2].poster_path}} [alt]="movies[2].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[2].title }}</h3>
      <p>{{ movies[2].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[3].poster_path}} [alt]="movies[3].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[3].title }}</h3>
      <p>{{ movies[3].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[4].poster_path}} [alt]="movies[4].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[4].title }}</h3>
      <p>{{ movies[4].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[5].poster_path}} [alt]="movies[5].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[5].title }}</h3>
      <p>{{ movies[5].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[6].poster_path}} [alt]="movies[6].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[6].title }}</h3>
      <p>{{ movies[6].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[7].poster_path}} [alt]="movies[7].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[7].title }}</h3>
      <p>{{ movies[7].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[8].poster_path}} [alt]="movies[8].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[8].title }}</h3>
      <p>{{ movies[8].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[9].poster_path}} [alt]="movies[9].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[9].title }}</h3>
      <p>{{ movies[9].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[9].poster_path}} [alt]="movies[9].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[9].title }}</h3>
      <p>{{ movies[9].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[10].poster_path}} [alt]="movies[10].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[10].title }}</h3>
      <p>{{ movies[10].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[11].poster_path}} [alt]="movies[11].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[11].title }}</h3>
      <p>{{ movies[11].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[12].poster_path}} [alt]="movies[12].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[12].title }}</h3>
      <p>{{ movies[12].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[13].poster_path}} [alt]="movies[13].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[14].title }}</h3>
      <p>{{ movies[14].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[15].poster_path}} [alt]="movies[15].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[15].title }}</h3>
      <p>{{ movies[15].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[16].poster_path}} [alt]="movies[16].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[16].title }}</h3>
      <p>{{ movies[16].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[17].poster_path}} [alt]="movies[17].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[17].title }}</h3>
      <p>{{ movies[17].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[18].poster_path}} [alt]="movies[18].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[18].title }}</h3>
      <p>{{ movies[18].release_date }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper app-clickable">
      <img src={{im}}{{movies[19].poster_path}} [alt]="movies[19].title" class="card-img-top">
    </div>
    <div class="carousel-caption">
      <h3>{{ movies[19].title }}</h3>
      <p>{{ movies[19].release_date }}</p>
    </div>
  </ng-template>

</ngb-carousel>
